* {
 padding: 0;
 margin: 0;
}

.body-darktheme{
    background-color:#252525;
    color: #ccc;
}

.navbar-style{
    background-color: #202020;
    height: 3.5rem;
    margin-bottom: 2rem;
}

.navbar-style div a{
    text-decoration: none;
    color: #ccc;
}

.inconspicuous-link{
    text-decoration: none;
    color: #ccc;
}

.navbar-grid{
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.navbar-grid div{
    text-align: center;
    vertical-align: middle;
}

.logo{
    width: 4rem;
}


.searchbar{
    color: #d62020;
    border: 1px solid #811d1d;
    text-align: center;
}

.tempalign{
    text-align: center;
}

h1 {

    font-family: helvetica;
    font-weight: 20;
    
}

h2 {

    font-family: 'helvetica';
    font-weight: 15;

}

h3 {

    font-family: 'helvetica';
    font-weight: 14;

}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}


